body {
  background-image: url('https://as2.ftcdn.net/v2/jpg/06/30/01/55/1000_F_630015513_8rqx7igMoshiA6moKWivy7euLecmxBjz.jpg');
  height: 100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}